
.header {
    background-color: #1f2937;
    display: flex;
    flex: 1;
    align-items: baseline;
    margin: -15px;
}
.logo{
    display: flex;
    flex: 1;
    font-weight: bold;
    font-size: 24px;
    color: #f9faf8;
    margin: 16px;
    padding-left: 80px;
}
ul {
    flex: 1;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    padding-right: 4em;
    gap: 20px;
}
a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration-line: none;
}
.main{
    display: flex;
    background-color: #1f2937;
    padding: 6em;
    gap: 1em;
    margin: -15px;
}
.img_mem{
    width: 40%;
    display: flex;
}
.left{
flex-wrap: wrap;
flex: 1;
}
.awesome{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}
.subtext{
    font-size: 18px;
    color: #e5e7eb;
padding-top: 6px;
padding-bottom: 1em;
}
.first{
background-color: #3882f6;
border-radius: 4px;
padding: 6px 28px;
color: white;
border: none;
font-weight: bold;
font-size: 16px;
}
.some{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    text-align: center;
}
.pics{
    display: flex;
    justify-content: center;
    gap: 52px;
    text-align: center;
    padding-bottom: 3em;
}
.prof_pic{
    height: 150px;
    width: 150px;
    text-align: center;
}
.information img{
    border: 4px solid #3882f6;
    border-radius: 6px;
}
.pic-info{
    max-width: 150px;
    font-size: 18px;
}
.quote{
    display: flex;
    flex-direction: column;
    padding: 8em;
    background-color: #e5e7eb;
    margin: -15px;
}
.quote-main{
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
}
.author{
    font-weight: bolder;
    color: #1f2937;
    font-size: 20px;
    text-align: end;
}

.action{
    background-color: #3882f6;
    color: white;
    display: flex;
    padding: 2em;
    margin: 6em;
    border-radius: 6px;
    align-items: center;
    flex: 1;
    justify-content: space-around;
    gap: 8em;
}
.call{
    display: flex;
    align-self: flex-start;
    font-weight: bolder;
}
.second{
    border: 2px solid white;
    color: white;
    background-color: #3882f6;
    border-radius: 4px;
    padding: 6px 28px;
    font-weight: bold;
    font-size: 16px;
}
.footer{
    display: flex;
    background-color: #1f2937;
    color: #f9faf8;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    padding: 1em;
    margin: -15px;
}