
.header {
    background-color: #1f2937;
    display: flex;
    flex: 1;
    align-items: baseline;
}
.logo{
    display: flex;
    flex: 1;
    font-weight: bold;
    font-size: 24px;
    color: #f9faf8;
    margin: 16px;
    justify-content: center;
}
ul {
    flex: 1;
    list-style: none;
    display: flex;
    gap: 20px;
}
a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration-line: none;
}
.main{
    display: flex;
    background-color: #1f2937;
    padding: 6em;
    gap: 1em;
}
.img_mem{
    width: 40%;
    display: flex;
}
.left{
flex-wrap: wrap;
flex: 1;
}
.awesome{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}
.subtext{
    font-size: 18px;
    color: #e5e7eb;
padding-top: 6px;
padding-bottom: 1em;
}
.first{
background-color: #3882f6;
border-radius: 4px;
padding: 6px 28px;
color: white;
border: none;
font-weight: bold;
font-size: 16px;
}
.some{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    
}
.prof_pic{
    
}
.pic-info{
    font-size: 18px;
}
.quote{
    background-color: #e5e7eb;
}
.quote-main{
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
}
.author{
    font-weight: bolder;
    color: #1f2937;
    font-size: 20px;
}
.action{
    background-color: #3882f6;
    color: white;
}
.second{
    color: white;
    background-color: #3882f6;
}
.footer{
    background-color: #1f2937;
    color: #f9faf8;
    font-size: 18px;
}