main{
}
.header {
    background-color: #1f2937;
    color: #f9faf8;
    font-size: 24px;
}
ul {
    list-style: none;
}
a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration-line: none;
}
.main{
    background-color: #1f2937;
}
.awesome{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}
.subtext{
    font-size: 18px;
    color: #e5e7eb;
}
.some{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}
.first{
background-color: #3882f6;
}
.right{
    font-size: 18px;
    color: #e5e7eb;
    background-color: gray;
}
.box{
    border-color: #3882f6;
}
.pic-info{
    font-size: 18px;
}
.quote{
    background-color: #e5e7eb;
}
.quote-main{
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
}
.author{
    font-weight: bolder;
    color: #1f2937;
    font-size: 20px;
}
.action{
    background-color: #3882f6;
    color: white;
}
.second{
    color: white;
    background-color: #3882f6;
}
.footer{
    background-color: #1f2937;
    color: #f9faf8;
    font-size: 18px;
}